html, body {
  font-size: 62.5%;
  font-size: 10px;
  font-family: serif;
}
#fullpage {
  background-color: #FFFBD5;
}
.section {
  text-align: center;
}
.section dl{
  background-color: #cfe283;
  text-align: left;
  height: 100vh;
  padding-top: 20%;
  padding-left: 10%;
  font-size: 1.5rem;

  background-image: url(../images/bg/navi_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.section dd{
  padding: 4% 0% 3% 3%;
  width: 80%;
}
.section dd a{
  border-bottom: solid #fffbd5 2px;
}
.section dt{
  padding: 10% 5% 5% 5%;
  font-weight: normal;
}
.section dd:nth-of-type(1){
  background-image: url(../images/bg/navi.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  height: 70px;
}
.section dd:nth-child(6){
  background-image: url(../images/bookmark.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: initial;
  height: 43px;
  padding-left: 7%;
  margin-left: 3%;
}
.section dd:nth-child(8){
  font-size: 2.3rem;
  padding: 0%;
}
.section dd:nth-last-of-type(1), .section dd:nth-last-of-type(2){
  border-bottom: solid #fffbd5 2px;
  width: 34%;
}

select{
  color: orange;
  background-color: #cfe28376;
}

.slide {
  font-size: 3.5rem;
  text-shadow: 1px 2px 4px rgb(147, 147, 147);
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
ul {
  width: 100%;
}
#slide1 {
  background-image: url("../images/bg/amenimo/amenimo_bg01.PNG");
}
#slide2 {
  background-image: url("../images/bg/amenimo/amenimo_bg02.PNG");
}
#slide3 {
  background-image: url("../images/bg/amenimo/amenimo_bg03.PNG");
}
#slide4 {
  background-image: url("../images/bg/amenimo/amenimo_bg04.PNG");
}
#slide5 {
  background-image: url("../images/bg/amenimo/amenimo_bg05.PNG");
}
#slide6 {
  background-image: url("../images/bg/amenimo/amenimo_bg06.PNG");
}
#slide7 {
  background-image: url("../images/bg/amenimo/amenimo_bg07.PNG");
}
#slide8 {
  background-image: url("../images/bg/amenimo/amenimo_bg08.PNG");
}
#slide9 {
  background-image: url("../images/bg/amenimo/amenimo_bg09.PNG");
}
#slide10 {
  background-image: url("../images/bg/amenimo/amenimo_bg10.PNG");
}
#slide11 {
  background-image: url("../images/bg/amenimo/amenimo_bg11.PNG");
}
#slide12 {
  background-image: url("../images/bg/amenimo/amenimo_bg12.PNG");
}
#slide13 {
  background-image: url("../images/bg/amenimo/amenimo_bg13.PNG");
}
#slide14 {
  background-image: url("../images/bg/amenimo/amenimo_bg14.PNG");
  color: white;
}
nav {
  width: 100%;
  background-color: #cfe28376;
  position: sticky;
  z-index: 999;
  bottom: 0;
}
nav label {
  width: 70%;
  display: block;
  border: solid gray 1px;
  padding: 1px;
  margin: 0 auto;
}
nav select {
  width: 100%;
  font-size: 1.6rem;
  padding: 20px;
}
.text {
  width: 100%;
  display: flex;
  flex-flow:row-reverse column-reverse;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 300%;
}
.main-text {
  text-indent: -3em;
}
.title, .author {
  text-shadow:none;
}
.title {
  font-size: 5rem;
  background-image: url('../images/raindrop.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 30%;
}
.author {
  position: absolute;
  bottom: 10%;
  right: 20%;
}
.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.none {
  display: none;
}
